.dubcontainer {
  width: auto;
  height: auto;
  margin: auto;
}

.colone {
  width: 30%;
  height: auto;
  background: PaleTurquoise;
  float: left;
  padding: 10px;
}

.coltwo {
  margin-left: 15%;
  height: auto;
  background: #FFF4FA;
  padding: 10px;
}